<?xml version="1.0" ?>
<robot name="agv_panda" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find agv_description)/urdf/agv_gazebo.xacro" />
  <xacro:include filename="$(find franka_panda_description)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_panda_description)/urdf/hand.xacro"/>


  <xacro:macro name="agv_panda" params="prefix1 prefix2 q1 q2 q3 q4 q5 q6 q7">

    <xacro:agv_gazebo prefix1="${prefix1}" prefix2="${prefix2}"/>
    <xacro:hand  prefix="${prefix1}"/>
    <xacro:panda_arm  prefix="${prefix1}"
                      q1="${q1}"
                      q2="${q2}"
                      q3="${q3}"
                      q4="${q4}"
                      q5="${q5}"
                      q6="${q6}"
                      q7="${q7}"/>

    <joint name="${prefix1}${prefix2}panda_to_agv" type="fixed">
      <parent link="${prefix1}${prefix2}agv_base_link"/>
      <child link="${prefix1}${prefix2}base_link"/>
      <origin xyz="0.1395 0 0.1965" rpy="0 0 0"/>
    </joint>


  </xacro:macro>

</robot>
